[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[req_distinguished_name]
commonName         = hello-itsf.local.domain

[req_ext]
basicConstraints   = critical,CA:TRUE,pathlen:0
keyUsage           = critical,keyCertSign,cRLSign
subjectAltName     = @alt_names

[alt_names]
DNS.1              = hello-itsf.local.domain
DNS.2              = hello-risf.local.domain